<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="15 seconds" debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{ISO8601}]-[%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <options>
            <dsn>https://5e0bbfc7ae86f4cf1e53a3b6d6f49e2a@o4511506335334400.ingest.de.sentry.io/4511506346868816</dsn>
        </options>
        <minimumEventLevel>ERROR</minimumEventLevel>
        <minimumBreadcrumbLevel>WARN</minimumBreadcrumbLevel>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="Sentry" />
    </root>
</configuration>
